<!--
#######################################################################################
The name of source file : about.ejs
The information of author :  Giho Kim #300738697
Last Modified by: Giho Kim
Last Modified date: 07-Feb-2017
Program Description: this file is to handle about page
Revision History: 1.0
#######################################################################################
-->

<% include ../partials/header.ejs %>
<!-- CONTENT PAGE FOR ABOUT -->
    <!-- MAIN CONTENT -->
  <div class="body-container">
    
    <div class="c_post">
      <div class="c_main">
        <div class="c_sub_title"><p>Giho Kim</p></div><br />
        <h2 class="c_post_title">Information</h2>
        <p>I'm a student in the 6 semester of Software technology program at Centennial College.</p>
        <p>Previously i studied the same program in Korea.</p>
        <hr>

        <h2 class="c_post_title">One of my favourite Course is:</h2>
        <p>Emerging Technologies</p>
        <p>I love Tom</p>
        <p>I would like to be Web Developer.</p>
        <hr>
        <h2 class="c_post_title">This semester I'm taking the following courses:</h2>
        <ul>
          <li>
            <p>Software Security and Privacy</p>
          </li>
          <li>
            <p>IT Project Management</p>
          </li>
          <li>
            <p>JavaEE Programming</p>
          </li>
          <li>
            <p>Software Development Project2/p>
          </li>
          <li>
            <p>Systems Integration</p>
          </li>
          <li>
            <p>Emerging Technologies</p>
          </li>
        </ul>
      </div>
    </div>

    <hr />
    <div class="c_title">
    Resume
    </div>
<hr />        
    
    <div class="Resume">
    <h4>Objective</h4>
    <p>To apply for a Junior Web Programmer position which my web programming and design skills could show my creativity</p>
    <h4>Summary of Qualifications</h4>
    <ul>
    <li>Proficient skills in PHP, Java Programming, Linux, Advanced knowledge and experience in computer MySQL, and Photoshop CS3</li>
    <li>Advanced knowledge in HTML, CSS, C#, Strong team work and leadership responsive web design using Bootstrap</li>
    <li>Substantial knowledge of software development, web design, database, and hardware</li>
    <li>Advanced knowledge and experience in computer MySQL, and Photoshop CS3 hardware</li>
    <li>Strong team work and leadership responsive web design using Bootstrap skills</li>
    </ul>
    <h4>Education</h4>
    <p>Advanced Diploma: Software Engineering Technology, 2013 - present <br />Centennial College － Toronto, Ontario, Canada</p>
    <h5>Related Courses:</h5>
        <ul>
            <li>Advanced Database Concepts</li>
            <li>Java Programming</li>
            <li>Web Application Development</li>
            <li>Software Security</li>
            <li>UNIX / LINUX Operating Systems</li>
            <li>Object Oriented Software Engineering</li>
        </ul>
    <h5>Academic Project:</h5>
        <ul>
            <li>Created a database by using Normalization, Data modeling and SQL for pharmacy application</li>
            <li>Designed relational database schema to efficiently store and retrieve pharmacy data</li>
            <li>Focused on modeling using DBLC and making the relationship among tables using ERD</li>
            <li>Achieved an A+ grade for the project</li>
        </ul>
    <h4>Experience</h4>
    <b>Projects and Quality Coordinator(Co-op)</b>
    <br />January 2015 to August 2015<br />
        <b>The Ministry of Community and Social Service</b> － Toronto, ON
        <ul>
            <li>Assisting Project Managers in Status Reporting</li>
            <li>Ensuring OPS and IT Quality standards are being adhered too</li>
            <li>Assisting Quality Management Lead in coordination of Quality Reviews of key project deliverables</li>
            <li>Assist in continuous improvement strategies</li>
        </ul>
    <b>Waiter</b>
    <br />May 2012 to August 2014<br />
        <b>Piggy's Restaurant</b> － Toronto, ON
        <ul>
            <li>Trained workers in food preparation, and in service, sanitation, and safety procedures</li>
            <li>Resolved customer complaints regarding food service</li>
            <li>Assigned duties and responsibilities to workers in accordance with work requirements</li>
            <li>Forecasted staff, equipment, and supply requirements based on a master menu</li>
        </ul>
    <b>Quality Control Engineer</b>
    <br />June 2008 to December 2008<br />
    <b>Daeyoung Inc.</b> － Gumi, South Korea
        <ul>
            <li>Responsible for performing daily product tests</li>
            <li>Worked as a team of eight engineers to efficiently deliver defect-free hard drives.</li>
        </ul>
    </div>
</div>
  </div>
       <!-- END OF MAIN CONTENT -->
       <% include ../partials/footer.ejs %>

