<!--
#######################################################################################
The name of source file : projects.ejs
The information of author :  Giho Kim #300738697
Last Modified by: Giho Kim
Last Modified date: 07-Feb-2017
Program Description: this file is to project page
Revision History: 1.0
#######################################################################################
-->

<% include ../partials/header.ejs %>
  <!-- CONTENT PAGE FOR PROJECTS -->
  <!-- MAIN CONTENT -->
  <div class="container">
    <div class="innver_content">
      <hr />
      <div class="c_title">
        Projects
      </div>
      <hr />
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/Assets/images/Angry.png" alt="" style="width: 140px; height: 140px;">
<h2>CrazyBird</h2>
<p>The game is to avoid the enemies using the side scroller. In the level one, User can control the player by keyboard up, right,
  down and left arrow and the enemies will be generated randomly. Some hearts also will be generated as bonus. When user
  get a bonus, which will give a life. When the player gets 500 points, it will switch to the level two. In the level two,
  new bigger enemies are generated. When the player presses the space bar, it will shoot some items to kill enemies.
</p>
<p><a class="btn btn-default" href="https://github.com/kkh0811/Web-Game_FinalProject" role="button">View Github &raquo;</a></p>
</div>
<!-- /.col-lg-4 -->
<div class="col-lg-4">
  <img class="img-circle" src="/Assets/images/password.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
<h2>Password Application</h2>
<p>With our Password Manager application, user can store and retrieve the username and password. User can categorise the record
  on their choice. By implementing security features for the application, the end users will not have to worry about their
  sensitive information being exposed to any unintended individuals.
</p>
<p><a class="btn btn-default" href="https://github.com/Team-Taera/COMP231-F2016-GROUP1" role="button">View Github &raquo;</a></p>
</div>
<!-- /.col-lg-4 -->
<div class="col-lg-4">
  <img class="img-circle" src="/Assets/images/Logo_feel.png.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
<h2>Online Shopping mall</h2>
<p>(Not finished) I was working on online shopping mall project from school and using HTML, CSS, Boostrap, JavaScript for front
  end. Also, I was using Bootstrap and Javascript for more interactive user experience. Currently, We built the basic of design.
</p>
<p><a class="btn btn-default" href="https://github.com/kkh0811/eComProject" role="button">View Github</a></p>
</div>
<!-- /.col-lg-4 -->
</div>
<!-- /.row -->


</div>
</div>
<!-- END OF MAIN CONTENT -->
<% include ../partials/footer.ejs %>