<!--
#######################################################################################
The name of source file : service.ejs
The information of author :  Giho Kim #300738697
Last Modified by: Giho Kim
Last Modified date: 07-Feb-2017
Program Description: this file is to handle service page
Revision History: 1.0
#######################################################################################
-->

<% include ../partials/header.ejs %>
  <!-- CONTENT PAGE FOR SERVICES -->
  <!-- MAIN CONTENT -->
  <div class="container">
    
    <div style="padding-top: 100px">
      <hr />
    <div class="c_title">
    Services
    </div>
    <hr />
      <h1 class="cover-heading">This is my first web site.</h1>
      <p class="lead">This site is built using Expressjs,Jquery and Bootstrap.</p>
      
      <!-- Three columns of text below the carousel -->
      <div style="margin-top: 50px" class="row">
<div class="col-lg-4">
  <img class="img-circle" src="/Assets/images/expressjs.png" alt="Generic placeholder image" width="140" height="140">
  <h2>Expressjs</h2>
  <p>Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and
    mobile applications.</p>
  <p><a class="btn btn-default" href="http://expressjs.com/" role="button">View details &raquo;</a></p>
</div>
<!-- /.col-lg-4 -->
<div class="col-lg-4">
  <img class="img-circle" src="/Assets/images/jquery.png" alt="Generic placeholder image" width="140" height="140">
  <h2>Jquery</h2>
  <p>jQuery is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation,
    event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers. With
    a combination of versatility and extensibility, jQuery has changed the way that millions of people write JavaScript.</p>
  <p><a class="btn btn-default" href="https://jquery.com/" role="button">View details &raquo;</a></p>
</div>
<!-- /.col-lg-4 -->
<div class="col-lg-4">
  <img class="img-circle" src="/Assets/images/bootstrap.png" alt="Generic placeholder image" width="140" height="140">
  <h2>Bootstrap</h2>
  <p>Bootstrap makes front-end web development faster and easier. It's made for folks of all skill levels, devices of all shapes,
    and projects of all sizes.</p>
  <p><a class="btn btn-default" href="http://getbootstrap.com/" role="button">View details &raquo;</a></p>
</div>
<!-- /.col-lg-4 -->
</div>
<!-- /.row -->

</div>
</div>
<!-- END OF MAIN CONTENT -->
<% include ../partials/footer.ejs %>